video(id="input", autoplay="autoplay", controls="false")
canvas(id="output", height="110", width="150")
script(src="/javascripts/ccv.js")

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
script(src="https://maps.googleapis.com/maps/api/js?sensor=false", type="text/javascript")
script(src="javascripts/streetview.js")
script(src="/javascripts/map.js")

div(id="pano", style="position:absolute; top:0; right:0;width: 1100.0px; height: 800.0px")

