h2 pong
video(id="input", autoplay="autoplay", controls="false")
canvas(id="output", style="display:none", height="110", width="150")
script(src="/javascripts/ccv.js")
script(src="/javascripts/three.js")
script(src="/javascripts/requestAnimationFrame.js")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/pong.js")
script(src="/nowjs/now.js")